@model List<Delivery.Models.Prato>

<h1>Cardápio</h1>

@if (ViewBag.Erro != null)
{
    <div>
        @ViewBag.Erro
    </div>
}
else if (Model.Count == 0)
{
    <p>Este restaurante não possui pratos cadastrados.</p>
}
else
{
    @foreach (var prato in Model)
    {
        <div style="margin-bottom:20px; display:flex; gap:20px; align-items:flex-start;">

            <div>
                @if (!string.IsNullOrEmpty(prato.ImagemArquivo))
                {
                    <img src="~/@prato.ImagemArquivo"
                         width="150"
                         height="150"
                         style="object-fit:cover; border-radius:10px;" />
                }
            </div>

            <div>

                <strong>@prato.Nome</strong>

                <br />

                <span>@prato.Descricao</span>

                <br />

                <span>R$ @prato.Preco</span>

                <br />

                <span>
                    Disponível:
                    @(prato.Disponivel ? "Sim" : "Não")
                </span>

                <br /><br />

                <a asp-controller="Editar"
                   asp-action="Prato"
                   asp-route-id="@prato.PratoId">

                    <button>
                        Editar
                    </button>

                </a>

            </div>

        </div>
    }
}

<br />

<a asp-controller="Editar" asp-action="ListarRestauranteP">
    <button>
        Voltar
    </button>
</a>